/* global reset - start
================================================== */
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
a {
  transition: all .3s;
}

/* global reset - End
================================================== */


/* utitlity css start */
.cs-container {
  max-width: 1200px;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}

.cs-container-full {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

/* utitlity css end */




/* header css start */
.header-area {
  background-color: #131327;
  border-bottom: 1px solid #4d5e85;
}

.header-g-wrapper {
  display: grid;
  grid-template-columns: 200px auto;
  min-height: 70px;
  align-items: center;
}

.sticky-top {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  right: 0;
}

.logo-part img {
  width: 36px
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-menu li a {
  color: #fff;
  font-family: jost, sans-serif;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  padding: 0 !important;
  transition: all .4s ease;
  position: relative
}

.main-menu li:not(:last-child) {
  margin-right: 30px;
}

.mobile-tgl-btn {
  margin-left: auto;
}

.navbar-toggler-alternative-icon {
  position: relative;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
}

.navbar-toggler-alternative-icon>span {
  position: relative;
  width: 26px;
  margin: 0 auto;
  background-color: #fff;
  transition: background-color 0.35s 0s ease;
  height: 2px;
}

.navbar-toggler-alternative-icon>span::before,
.navbar-toggler-alternative-icon>span::after {
  position: absolute;
  content: "";
  width: 13px;
  background-color: #fff;
  transform-origin: 50% 50%;
  transition: background-color 0.35s 0s ease, top 0.2s 0.4s ease, left 0.2s 0.2s ease, right 0.2s 0.2s ease, width 0.2s 0.2s ease, transform 0.2s ease;
  height: 2px;
}

.navbar-toggler-alternative-icon>span::before {
  top: 8px;
  left: 13px;
}

.navbar-toggler-alternative-icon>span::after {
  top: -8px;
  right: 13px;
}

.active .navbar-toggler-alternative-icon>span {
  background-color: transparent !important;
  transition: background-color 0.35s 0s ease;
}

.active .navbar-toggler-alternative-icon>span::before {
  left: 0;
  transform: rotate3d(0, 0, 1, 45deg);
}

.active .navbar-toggler-alternative-icon>span::after {
  right: 0;
  transform: rotate3d(0, 0, 1, -45deg);
}

.mobile-tgl-btn {
  display: none;
  position: relative;
  z-index: 99;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .mobile-tgl-btn {
    display: inline-block;
  }

  .main-menu {
    position: fixed;
    width: 100%;
    background: #fff;
    left: 0;
    top: 0;
    display: block;
    padding: 20px;
    z-index: 80;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
  }

  .main-menu.active {
    opacity: 1;
    visibility: visible;
  }
}

/* header css end */

/* users-table area css start */
.tb-content {
  display: none;
}

.tb-content.current {
  display: block;
}

.users-table-area {
  background-color: #131327;
  padding: 60px 0;
}

.tab-triggers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  list-style: none;
  grid-gap: 15px;
  margin-bottom: 30px;
}

.tab-triggers li {
  background: #fff;
  border-radius: 5px;
  transform: skewX(-20deg);
  border: 0;
  color: #1fc1c3;
  font-size: 15px;
  padding: 10px;
  line-height: 1.3;
  font-weight: 500;
}

.tab-triggers li.current {
  background-color: #1fc1c3;
  color: #fff;
}

.tab-triggers li span {
  display: inline-block;
  transform: skewX(20deg);
}

.tbl-title {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  margin-bottom: 24px
}

.tbl-title span {
  position: relative;
  z-index: 1;
  background: #131327;
  padding: 0 14px
}

.tbl-title::after {
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%)
}

.tbl-header,
.tbl-body-rw {
  display: grid;
  grid-template-columns: .8fr 1fr 1fr 1fr 1fr 1fr 60px;
  grid-gap: 16px;
  padding: 0 20px;
}

.tbl-body-rw {
  border-bottom: 2px dotted #36395d;
}

.tbl-th {
  color: #709cf0;
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
}

.tbl-td {
  font-size: 12px;
  padding: 5px;
  color: rgba(255, 255, 255, .5);
}

/* users-table area css end */

/* footer css start */
.footer {
  margin-top: auto;
  font-size: 10px;
  padding: 30px 0;
}

.ft-logo {
  color: #fff;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
}

.ft-logo:hover {
  color: #fff;
  text-decoration: none;
}

.ft-logo span {
  display: block;
  font-weight: normal;
  font-size: 14px;
}

.sc-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sc-links li a {
  display: inline-block;
  opacity: 0.5;
  transition: 0.3s;
}

.sc-links li a:hover {
  opacity: 1;
}

.sc-links li {
  margin-left: 10px;
}

.copyright-text {
  margin: 0;
  font-size: 12px;
  color: #fff;
  opacity: 0.5;
  margin-right: 14px;
  letter-spacing: 0.4px;
}

.githublink {
  margin-top: -3px;
}

.top-f-left a svg {
  width: 18px;
}

.top-f-left svg path {
  fill: #1db0b3;
}

.top-f-left a {
  display: inline-block;
  margin-right: 10px;
}

.version {
  font-size: 12px;
  color: #fff;
  opacity: 0.5;
}

.sc-links li a img {
  max-width: 14px;
  max-height: 14px;
}

.single-logo span {
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.5;
  padding-left: 2px;
  transform: translateY(2px);
}

.single-logo>a {
  width: 30px;
  display: inline-block;
}

.footer-content-top-box,
.footer-content-bottom-box {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer-content-top-box {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 9px;
  padding-bottom: 9px;
}

.ft-bottom-g-wrapper {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  grid-gap: 30px;
}

.blocks_tab {
  max-height: 330px;
  overflow: hidden;
}

.ft-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ft-links li {
  display: block;
}

.ft-links li a,
.footer-widget p a {
  display: inline-block;
  color: #1fc1c3;
  opacity: 0.5;
  transition: 0.3s;
  text-decoration: none;
}

.ft-links li a:hover,
.footer-widget p a:hover {
  opacity: 1;
}

.ft-links li:not(:last-child) {
  margin-bottom: 3px;
}

.footer-widget h5 {
  font-size: 10px;
  color: #fff;
  opacity: 0.5;
  margin-bottom: 5px;
}

.footer-widget p {
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

.top-flex-wrapper,
.ft-bottom-g-wrapper {
  max-width: 1140px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}



/* footer css end */