<!DOCTYPE HTML>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/x-icon" href="/icons/favicon.ico">
    <title>BE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header-area sticky-top">
        <nav class="navbar navbar-expand-xl">
            <div class="logo-part">
                <a href="#/" class="navbar-brand m-0 h1" onclick="showLoading()"><img src="./icons/single-logo.png"></a>
            </div>
            <button class="navbar-toggler-alternative d-xl-none" type="button" data-toggle="collapse"
                data-target="#navbarText" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-alternative-icon">
                    <span></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav main-menu">

                    <li class="nav-item active"><a class="nav-link" id="tag1" href="#/witness"
                            onclick="Link(1)">Witness</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" id="tag3" href="#/richlist" onclick="Link(3)">Richlist</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>