<!DOCTYPE HTML>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/x-icon" href="/icons/favicon.ico">
    <title>BE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header-area sticky-top">
        <div class="cs-container-full">
            <div class="header-g-wrapper">
                <div class="logo-part">
                    <a href="#" class="navbar-brand m-0 h1" onclick="showLoading()"><img src="/img/single-logo.png"></a>
                </div>

                <div class="header-right d-flex justify-content-end align-items-center">
                    <ul class="main-menu" id="main-menu">
                        <li class="nav-item active"><a href="#/witness" onclick="Link(1)">Witness</a>
                        </li>
                        <li class="nav-item"><a href="#/richlist" onclick="Link(3)">Richlist</a>
                        </li>
                    </ul>

                    <form action="/logout" method="post" class="logout-fm">
                        <button type="submit" class="box-btn logout-btn">Logout </button>
                    </form>
                    <button class="mobile-tgl-btn" data-tgl-btn>
                        <span class="navbar-toggler-alternative-icon">
                            <span></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let toggleBtn = document.querySelector(`[data-tgl-btn]`);
            let mainMenu = document.getElementById('main-menu')
            toggleBtn.addEventListener('click', function (event) {
                event.preventDefault();
                toggleBtn.classList.toggle('active');
                mainMenu.classList.toggle('active');
            })
        })
    </script>